body{
	background-color: #1A1A1A;
}

h1{
	text-align: center;
	margin: 0px;
}

canvas{
	margin: auto;
}

footer{
	text-align: center;
	font-family: "Lato";
	color: white;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}